# Important pour comprendre avec circle ci: https://circleci.com/developer
version: '2.1'
orbs:
  # https://circleci.com/developer/orbs/orb/circleci/python
  python: circleci/python@2.0.2
  # https://circleci.com/developer/orbs/orb/circleci/docker
  docker: circleci/docker@2.0.3

# Remarque: pas le droit au caractère &
jobs:
  lint_tests:
    executor: python/default
    steps:
      - checkout
      - python/install-packages:
          pkg-manager: pip
      - run:
          name: Linting
          command: flake8
      - run:
          name: Tests (pytest)
          command: pytest

workflows:
  main:
    jobs:
      - lint_tests
      - docker/publish:
          # le format ${VARIABLE,,} met la variable en minuscule
          # obligatoire pour docker
          # plus d'info: https://wiki.bash-hackers.org/syntax/pe
          # Les variables built-in: https://circleci.com/docs/2.0/variables/
          image: ${CIRCLE_PROJECT_USERNAME,,}/p13
          # Remarques:
          # le tag est automatiquement mis avec la valeur $CIRCLE_SHA1
          # Dans les paramètre du projet dans circleci définir les variables:
          #   DOCKER_LOGIN
          #   DOCKER_PASSWORD
          requires:
            - lint_tests
# Pour voir d'autres manières pour s'authentifier sur docker hub
#       https://circleci.com/docs/2.0/private-images/
