# Important pour comprendre avec circle ci: https://circleci.com/developer
version: '2.1'
orbs:
  # https://circleci.com/developer/orbs/orb/circleci/python
  python: circleci/python@2.0.2
  # https://circleci.com/developer/orbs/orb/circleci/docker
  docker: circleci/docker@2.0.3

# Remarque: pas le droit au caractère &
jobs:
  lint_tests:
    executor: python/default
    steps:
      - checkout
      - python/install-packages:
          pkg-manager: pip
      - run:
          name: Linting
          command: flake8
      - run:
          name: Tests (pytest)
          command: pytest
# Pour les variables built-in: https://circleci.com/docs/2.0/variables/
workflows:
  main:
    jobs:
      - lint_tests
      - docker/publish:
          image: ${CIRCLE_PROJECT_USERNAME,,}/p13


# Extra:
# Pour voir d'autres manières pour s'authentifier sur docker hub
#       https://circleci.com/docs/2.0/private-images/
